[
{rabbitmq_shovel, [
  {shovels, [
    {my_shovel, [
      {sources, [
        {protocol, amqp10},
        {uris, ["amqp://fcrepo:5672"]},
        {queue, "/topic/fedora"},
        {prefetch_count, 10}
      ]},
      {destinations, [
        {protocol, amqp10},
        {uris, ["amqp://"]},
        {queue, "test"}
      ]},
      {ack_mode, on_confirm},
      {reconnect_delay, 5}
    ]}
  ]}
]}
].
